{% load socialaccount %}
{% providers_media_js %}
<h1>Index</h1>
<a href="{% provider_login_url "facebook" method="js_sdk" %}">Login with Facebook</a>
<a href="{% provider_login_url "google" method="js_sdk" %}">Login with Google</a>