{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Selected day:</p>
                <h2>{{ date }}</h2>
                
            </div>
            <div class="col-md-6 float-right">
                <form action="{% url 'logs:index' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Select day:</label>
                        <input type="date" class="form-control" name="day" id="day">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Change day">
                </form> 
                <br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Log time:</h2>
                <form action="{% url 'logs:create' year=date.year month=date.month day=date.day %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ createlogform | crispy }}
                        <input type="submit" class="btn btn-primary" value="Create">
                    </div>
                </form>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{ user.username }}'s log history for {{ date }}.</h3>
                <br>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Project</th> 
                        <th>Time</th>
                        <th>Duration</th> 
                        <th>Action</th>
                    </tr>
                    {% for log in logs %}
                        <tr class="{% if log.is_late %}late-log{% endif %}">
                            <td>{{log.project}}</td>
                            <td>{{log.logtime}}</td>
                            <td>{{log.duration}} hours</td>
                            <td>
                                <div class="text-center">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal{{log.id}}">
                                        Delete entry
                                    </button>
                                </div>
                                
                                
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{log.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this entry?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <form action="{% url 'logs:delete' year=date.year month=date.month day=date.day %}" method="post">
                                            {% csrf_token %}
                                            <input id="id" name="id" type="hidden" value="{{log.id}}">
                                            <input type="submit" class="btn btn-danger" value="Confirm">
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
        <blockquote class="text-center">
            <p>Total time logged for the day: {{ day_sum.duration__sum | default_if_none:"0" }} hours.</p>
        </blockquote>
        <blockquote class="text-center">
            <p>Total time logged for the week: {{ week_sum.duration__sum | default_if_none:"0" }} hours.</p>
        </blockquote>
        <blockquote class="text-center">
            <p>Total time logged for the month: {{ month_sum.duration__sum | default_if_none:"0" }} hours.</p>
        </blockquote>

    </div>
    
{% endblock %}